@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@custom-variant dark (&:where(.dark, .dark *));

.react-tel-input .flag-dropdown {
  background-color: transparent !important;
  border: none !important;
}

.react-tel-input .flag-dropdown:hover,
.react-tel-input .flag-dropdown:focus,
.react-tel-input .flag-dropdown:active {
  background-color: transparent !important;
}

.react-tel-input .selected-flag {
  background-color: transparent !important;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s !important;
  -webkit-transition: background-color 9999s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  caret-color: inherit !important;
}

:root input:-webkit-autofill,
:root textarea:-webkit-autofill,
:root select:-webkit-autofill {
  -webkit-text-fill-color: #1f2937 !important;
}

.dark input:-webkit-autofill,
.dark textarea:-webkit-autofill,
.dark select:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
}
